$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?9932242ecf5d9219b4d270773fa681ad") format("truetype"),
url("./flaticon.woff?9932242ecf5d9219b4d270773fa681ad") format("woff"),
url("./flaticon.woff2?9932242ecf5d9219b4d270773fa681ad") format("woff2"),
url("./flaticon.eot?9932242ecf5d9219b4d270773fa681ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?9932242ecf5d9219b4d270773fa681ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "bar-chart": "\f101",
    "benchmark": "\f102",
    "down-arrow": "\f103",
    "growth": "\f104",
    "internet": "\f105",
    "interview": "\f106",
    "investor": "\f107",
    "like": "\f108",
    "long-arrow-pointing-to-the-right": "\f109",
    "male": "\f10a",
    "medal": "\f10b",
    "pin": "\f10c",
    "play-button": "\f10d",
    "plus": "\f10e",
    "portfolio": "\f10f",
    "profits": "\f110",
    "search": "\f111",
    "send": "\f112",
    "trophy": "\f113",
    "upload": "\f114",
    "wallet": "\f115",
    "zoom": "\f116",
);

.flaticon-bar-chart:before {
    content: map-get($flaticon-map, "bar-chart");
}
.flaticon-benchmark:before {
    content: map-get($flaticon-map, "benchmark");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon-map, "down-arrow");
}
.flaticon-growth:before {
    content: map-get($flaticon-map, "growth");
}
.flaticon-internet:before {
    content: map-get($flaticon-map, "internet");
}
.flaticon-interview:before {
    content: map-get($flaticon-map, "interview");
}
.flaticon-investor:before {
    content: map-get($flaticon-map, "investor");
}
.flaticon-like:before {
    content: map-get($flaticon-map, "like");
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: map-get($flaticon-map, "long-arrow-pointing-to-the-right");
}
.flaticon-male:before {
    content: map-get($flaticon-map, "male");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-portfolio:before {
    content: map-get($flaticon-map, "portfolio");
}
.flaticon-profits:before {
    content: map-get($flaticon-map, "profits");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-send:before {
    content: map-get($flaticon-map, "send");
}
.flaticon-trophy:before {
    content: map-get($flaticon-map, "trophy");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-wallet:before {
    content: map-get($flaticon-map, "wallet");
}
.flaticon-zoom:before {
    content: map-get($flaticon-map, "zoom");
}
